* {
	box-sizing: border-box;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 5rem;
}

h2,
h3 {
	margin: 0 0 1rem;
	font-weight: bold;
}
h3 {
	font-size: 1.2rem;
}

label {
	display: block;
	margin-bottom: 1.5rem;
}
input {
	margin-left: 1rem;
	padding: 0.2rem 0.5rem;
}

button {
	padding: 0.5rem;
	color: #fff;
	transition: 0.2s ease background;
	background: #2b76b9;
	border: 0;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 0.2rem;
}
button:hover {
	background: #3d3393;
}

.app {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.info {
	width: 100%;
	text-align: center;
}
.team {
	width: calc(50% - 0.75rem);
	margin-bottom: 1.5rem;
	border: 0.2rem solid #ccc;
	padding: 1.5rem;
	text-align: center;
}

.meta {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.meta button {
	margin-bottom: 1.5rem;
}