<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vuex</title>

		<link rel="stylesheet" href="./../lib/app.css">
	</head>
	<body>

		<div id="app" class="app">
			<div class="info">
				<h1>{{ $store.getters.headline }}</h1>
			</div>
			<team-card team-id="a"></team-card>
			<team-card team-id="b"></team-card>

			<div class="meta">
				<div class="teamname">
					<h3>Team names:</h3>
					<label>Team A: <input type="text" v-model="teamNameA" /></label>
					<label>Team B: <input type="text" v-model="teamNameB" /></label>
					<button @click="updateTeamNames()">Update</button>
					<button @click="resetNames()">Reset</button>
				</div>

				<button @click="resetAll()">Reset team names and scores</button>
			</div>
		</div>

		<script src="./../lib/vue.js"></script>
		<script src="./../lib/vuex.js"></script>
		<script src="app.js"></script>
	</body>
</html>