<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vuex</title>

		<link rel="stylesheet" href="./../lib/app.css">
	</head>
	<body>

		<div id="app" class="app">
			<div class="info">
				<h1>{{ headline }}</h1>
			</div>
			<team-card :team="teams.a"></team-card>
			<team-card :team="teams.b"></team-card>

			<div class="meta">
				<div class="teamname">
					<h3>Team names:</h3>
					<label>Team A: <input type="text" /></label>
					<label>Team B: <input type="text" /></label>
					<button>Update</button>
					<button>Reset</button>
				</div>

				<button>Reset team names and scores</button>
			</div>
		</div>

		<script src="./../lib/vue.js"></script>
		<script src="./../lib/vuex.js"></script>
		<script src="app.js"></script>
	</body>
</html>